@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.container {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.container:before {
    content: '';
    display: table;
    
}

a:hover {
    text-decoration: none;
}

ul , p {
    margin-bottom: 0rem !important;
}




/* ------------------ Header Section Start ------------------------- */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #104D72;
    border-bottom: 1px solid rgba(134, 133, 133, 0.3);
}

header.sticky {
    height: 70px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    background-color: #104D72;
}

header.sticky nav {
    border-bottom: none !important;
}

header.sticky #topbar-menu {
    display: none;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#topbar-menu {
    background: rgba(0,0,0,.15);
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-top-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.r-top-menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.l-top-menu ul li a {
    font-size: 12px;
    color: #fff;
    margin-right: 1.5rem;
}

.r-top-menu ul li a {
    color: #fff;
    margin-left: 1rem;
    font-size: 12px;
} 

.l-top-menu ul li a i {
    color: #F7931C;
    margin-right: .5rem;
}

.r-top-menu ul li a i {
    color: #fff;
    margin-right: .5rem;
}

.r-top-menu ul li a i:last-child {
    margin-right: 0rem !important; 
}

.r-top-menu {
    position: absolute;
    right: 0;
}


/* -------------------------- Main Menu Start --------------------------- */

nav {
    font-family: 'Nunito', sans-serif;
  
}

.navbar {
    padding: 0 !important;
}

.navbar-brand {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-right: 0rem !important;
}

.navbar-brand img {
    height: 70px;
}

.navbar-nav {
    position: absolute;
    right: 0;
}

.banner img {
    width: 100%;
    height: 100vh;
    position: relative;
}

.nav-item {
    margin-right: 1rem;
}

.nav-link {
    font-size: 1rem;
    color: #fff !important;
}

header.sticky a.nav-link {
    color: #fff !important;
}

.dropdown-toggle::after {
    display: none;
}


/* ---------------------Hover Effects Start------------ */

.fa-facebook-f, .fa-twitter, .fa-instagram, .fa-linkedin-in {
    transition: all .8s ease;
}

.fa-facebook-f:hover {
    color: #0572E6;
}

.fa-twitter:hover {
    color: #5DA9DD;
}

.fa-instagram:hover {
    color: #EC4B52;
}

.fa-linkedin-in:hover {
    color: #0077B5;
}




/* -------------- Blog hero Section Start ------------- */

#salesforce-advisor_hero {
    position: relative;
    width: 100%;
    height: 45vh;
    background: #104D72;
}

.salesforce-advisor-bg {
    width: 60%;
    height: 45vh;
    object-fit: cover;
    right: 0;
    position: absolute;
    background-image: url(../images/digital-transformation-bg.webp);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.salesforce-advisor-bg::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 55px;
    background: #F2F2F2;
    z-index: 1;
    right: 0;
    bottom: 0;
}

.ovarlay {
    width: 100%;
    height: 43vh;
    background-color: #104c7283;
}

.salesforce-hero-content-box {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.salesforce-advisor_heading {
    font-size: 50px;
    position: relative;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
}

.salesforce-advisor_heading span {
    color: #F7931C;
}

.salesforce-advisor_content {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.horizonral_subtitle {
    position: absolute;
    left: -290px;
    top: 20%;
}

.horizonral_subtitle span {
    position: absolute;
    left: 100px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 45px;
    letter-spacing: 4px;
    transform: rotate(-90deg);
    color: rgba(255, 255, 255, 0.05);
    top: 155px;
    white-space: nowrap;
}

/* -------------- Blog hero Section End ------------- */







/* ----------------------- Digital Advisor Details Start ----------------------- */

#salesforce-advisor_details {
    width: 100%;
    padding: 110px 0 50px;
    position: relative;
    overflow: hidden;
    background-color: #F2F2F2;
}

.salesforce-advisor_subtitle {
    position: absolute;
    text-transform: uppercase;
    font-weight: 900;
    top: 2%;
    left: 15%;
    color: #ccc;
    right: 0;
    opacity: 0.20;
    text-align: left;
    font-size: 65px;
    letter-spacing: 4px;
}

.salesforce-advisor_subtitle span {
    color: #F7931C;
}

.salesforce_advisory_wrapper {
    padding: 0% 10%;
    z-index: 5;
    position: relative;
}

.salesforces-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.salesforce-middle-img {
    margin-top: -5%;
}

.salesforce-certified {
    width: 90%;
    margin-bottom: 3%;
}

.color {
    color: #F7931C;
    font-weight: 600;
}

.marketing-team-list ul, .sales-team-list ul, .customer-team-list ul {
    padding: 0 5%;
    font-size: 15px;
}


.advisor-lists li {
    margin-bottom: 1%;
}

.advisory-service_team ul {
    padding: 0px 5%;
}

.advisory-service_team > ul li {
    margin-bottom: 1%;
}

.roles_lists, .focus_lists {
    padding: 0 5%;
}

.back-button-wrapper {
    padding: 2% 10%;
}

.back_btn a {
    font-size: 16px;
    font-weight: 600;
    color: #104D72;
}

/* ----------------------- Digital Advisor Details End ----------------------- */



/* ---------------------- Section Lines Starts -------------------- */
.sec-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 1;
}

.line-item {
    width: 228px;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid rgba(153, 153, 153, 0.1);
    position: absolute;
}

.line-item:first-child {
    border-left: 1px solid rgba(153, 153, 153, 0.1);
}

.line-item:first-child:before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    width: 4px;
    height: 30px;
    background: #F7931C;
    animation: scroll_1 8s ease-out infinite;
}

@keyframes scroll_1 {
    0% {
        opacity: 1;
        top: 0
    }
    50% {
        top: 50%
    }
    100% {
        top: 99%;
        opacity: 0.5;
    }
}

.line-item2 {
    width: 228px;
    height: 100%;
    position: absolute;
    left: 32%;
    box-sizing: border-box;
    border-right: 1px solid rgba(153, 153, 153, 0.1);
}

.line-item3 {
    width: 228px;
    height: 100%;
    position: absolute;
    left: 44%;
    box-sizing: border-box;
    border-right: 1px solid rgba(153, 153, 153, 0.1);
}

.line-item3::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: -2px;
    width: 4px;
    height: 30px;
    background: #F7931C;
    animation: scroll_2 6s ease-out infinite;
}

@keyframes scroll_2 {
    0% {
        opacity: 1;
        bottom: 0
    }
    50% {
        bottom: 50%
    }
    100% {
        bottom: 100%;
        opacity: 0.5;
    }
}

.line-item4 {
    width: 228px;
    height: 100%;
    position: absolute;
    left: 56%;
    box-sizing: border-box;
    border-right: 1px solid rgba(153, 153, 153, 0.1);
}

.line-item5 {
    width: 228px;
    height: 100%;
    position: absolute;
    right: 20%;
    box-sizing: border-box;
    border-right: 1px solid rgba(153, 153, 153, 0.1);
}

.line-item5::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: -2px;
    width: 4px;
    height: 30px;
    background: #F7931C;
    animation: scroll_3 6s ease-out infinite;
}

@keyframes scroll_3 {
    0% {
        opacity: 1;
        top: 0
    }
    50% {
        top: 50%
    }
    100% {
        top: 99%;
        opacity: 0.5;
    }
}

/* ---------------------- Section Lines End -------------------- */












/* -----------------------------Footer Start------------------------ */
#footer {
    background: #104D72;
    color: #fff;
} 

.work-wapper {
    margin-bottom: 6%;
}

.company-logo img {
    height: 100px;
    margin-top: 2rem;
}

.work-with-us {
    width: 150.3%;
    height: 130px;
    background: #F7931C;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.work-title {
    font-weight: 700;
    margin-left: 5%;
    margin-right: 2%;
    letter-spacing: -1.8px;
}

.work-us-btn {
    width: 170px;
    height: 55px;
    background: #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-us-btn a {
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-company {
    padding-right: 20px;
}

.about-company-heading {
    font-weight: 700;
    margin-bottom: 15%;
}

.address-wrap {
    font-size: 1rem;
    display: flex;
}

.address-wrap i {
    margin-right: 1rem;
}

.address {
    margin-top: -5px;
}

.telephone {
    font-size: 1rem;
    margin: 15px 0;
}

.telephone i {
    margin-right: .8rem;
}

.email {
    font-size: 1rem;
}

.email i {
    margin-right: .8rem;
}

.usefull-title {
    font-weight: 700;
    margin-bottom: 15%;
}

.usefull-link ul li {
    font-size: 1rem;
    margin-top: 10px;
}

.usefull-link ul.first-lists {
    margin-left: 8%;
}

.usefull-link ul.second-lists {
    position: absolute;
    right: 5%;
}

.subscribe-email {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-title {
    font-weight: 700;
    margin-bottom: 15%;
}

input#subs-mail {
    width: 90%;
    height: 55px;
    background: transparent !important;
    border: 1px solid #fff;
    padding-left: 50px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

input:focus {
    outline: none !important;
}

input#subs-mail::placeholder {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}

.rocket {
    width: 100px;
    height: 55px;
    background: #F7931C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rocket i{
    font-size: 22px;
}

.subs-text {
    font-size: 1rem;
    margin-top: 1.5rem;
}

.copyrights {
    width: 100%;
    height: 40px;
    background: rgba(32, 86, 119, 0.8);;
    margin-top: 5%;
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyrights strong {
    color: #F7931C;
}

/* -------------------------footer End--------------- */